/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: ;
  --secondary-color: ;
  --yellow-color: #fbbf24;
  --red-color: #dc2626;
  --green-color: #22c55e;
  --blue-color: #2563eb;
  --white-color: #ffffff;
  --light-gray-100: #fafafa;
  --light-gray-200: #f5f5f5;
  --light-gray-300: #e5e5e5;
  --light-gray-400: #d4d4d4;
  --light-gray-500: #a3a3a3;
  --light-gray-600: #8a8a8a;
  --black-color: #000000;
  --dark-gray-100: #0a0a0a;
  --dark-gray-200: #171717;
  --dark-gray-300: #262626;
  --dark-gray-400: #404040;
  --dark-gray-500: #525252;
  --dark-gray-600: #737373;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);

  /* typography size */
  --tg-size-h1: 2.125rem; /* 34px */
  --tg-size-h2: 1.6rem; /* 25.6px */
  --tg-size-h3: 1.25rem; /* 20px */
  --tg-size-p: 1rem; /* 16px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
}

/* Media queries - From Desktop to Mobile */
/* Largest devices (1600px and down) */
@media only screen and (max-width: 100rem) {
}

/* Exxtra Large devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
}
